#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    margin-top: 20px;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;
    text-align: left;

}

.introName{
    color: yellow;
    text-align: left;
}

.introPara{
    font-size: small;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    max-width: 30rem;

}

.hireBtn {
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    width: 8rem;

}

.hireBtn:hover {
    cursor: pointer;
}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}
.introContent a {
    width: 8rem;
    height: 5rem;
}
.introContent a:hover {
    cursor: auto;
}

@media screen and (max-width:940px) {
    .bg {
        right: -18vw;
        
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:520px) {
    .bg {
        right: -50vw;
        top: 2rem;
    }
    .introPara {
        width: 60%;
    }
}